<h1>Editing Book</h1>

<%= form_with model: @book, method: :patch do |f| %>
    <p>Title</p>
    <%= f.text_field :title %>

    <p>Opinion</p>
    <%= f.text_area :body %>

    <%= f.submit 'Update Book' %>
<% end %>

<div class="link">
    <span><%= link_to "Show", book_path(@book.id), method: :get %></span>
     |
    <span><%= link_to "Back", books_path, method: :get %></span>
</div>