
<div class="container">
    <% if @book.errors.any? %>
        <%= @book.errors.count %> errors prohibited this obj from being saved:
        <ul>
            <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>
    <div class="row">
        <div class="col mx-auto">
            <h1>Editing Book</h1>
            <%= form_with model: @book, method: :patch do |f| %>
            <div class="form-group">
                <p>Title</p>
                <%= f.text_field :title %>
            </div>
            <div class="form-group">
                <p>Opinion</p>
                <%= f.text_area :body %>
            </div>
            <div class="form-group">
                <%= f.submit 'Update Book' %>
            </div>
            <% end %>
        </div>
    </div>
</div>

<div class="link">
    <span><%= link_to "Show", book_path(@book.id), method: :get %></span>
     |
    <span><%= link_to "Back", books_path, method: :get %></span>
</div>