<div class="container px-5">
  <div class="row">
    <%= render 'users/user', user: @user %>
    <div class="col-md-8 offset-1">
      <h2>Books</h2>
      <table class="table table-hover">
        <tr>
          <th></th>
          <th>Book detail</th>
          <th></th>
        </tr>
        <tr>
          <td><%= image_tag book.user.get_profile_image(100,100) %>
              <%= link_to book.user.name, user_path(book.user.id), method: :get %>
          </td>
          <td><span><%= link_to book.title, book_path(book.id), method: :get %></span></td>
          <td><span><%= book.body %></span></td>
        </tr>
      </table>
    </div>
  </div>
</div>